* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: Georgia, serif;
  background-color: #61925f; /* cor de fundo igual da imagem */
  color: #000000; /* texto padrão */
  padding: 0 1rem;
  margin: 0;
}
body, html {
  width: 100%;
  height: 100%;
}
.suaDivPrincipal {
  width: 100%;
  max-width: none; /* remove limite de largura */
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #50724e; /* fundo escuro do topo */
}

.menu {
  font-size: 28px;
  cursor: pointer;
  color: #d9d9d9;
  background: none;
  border: none;
}

.logo {
  width: 70px;
  height: 70px;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 20px;
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
  color: #000000;
}

.destaque {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  margin: 1rem 0;
  text-align: center;
}

.texto {
  font-size: 35px;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.texto p {
  margin-bottom: 1rem;
}

.botoes {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.botao {
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.comprar, .vender {
  background-color: #d9d9d9;
  color: #3653e2;
}

.comprar:hover, .vender:hover {
  background-color: #d9d9d9;
}

.imagem-produtos {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.imagem-produtos img {
  width: 100%;
  max-width: 300px;
  border-radius: 12px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}
.menu-lateral {
  position: fixed;
  top: 0;
  left: -300px;
  width: 260px;
  height: 100%;
  background-color: #f2f1f0;
  padding: 1rem;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
  z-index: 1000;
}

.menu-lateral.aberto {
  left: 0;
}

.menu-lateral .fechar-menu {
  background: none;
  border: none;
  font-size: 24px;
  color: #000000;
  float: right;
  cursor: pointer;
}

.menu-lateral ul {
  list-style: none;
  margin-top: 3rem;
}

.menu-lateral ul li {
  margin: 1rem 0;
  font-size: 16px;
  color: #000000;
  font-weight: 500;
}

.menu-lateral ul li ul.sub-menu {
  margin-top: 0.3rem;
  padding-left: 1rem;
  font-size: 14px;
  color: #333;
}